/****************** 
  Main
******************/
.noResult{
  text-align: center;
  color: white;
}

#albums{
  @include container;
  @include flex-center-center(row, center,flex-start);
  flex-wrap:wrap;
  

  .album{
    width: 300px;
    padding: 10px 10px 30px;
    margin: 5px;
    background: black;
    color: white;

    ul{
      @include reset-list;

      img{
        width: 280px;
        height: 280px;
      }

      
    }

    
  }
}